<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/person.css' />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.1/echarts.min.js"></script>
    <title>Document</title>
</head>
<body>
   <div class="nav"></div>
   <div class ="container" id="container">
        <namecard ref="showimg" v-bind:person="this.person"></namecard>
        <scorecard></scorecard>
        <div class='project_box box'>
            <tag v-for="tag in this.person.tags" v-bind:tag="tag"></tag>
            <h6 class='dis'>亮点项目</h6>
            <projectcard v-for="bestone in this.person.best" v-bind:bestone="bestone"></projectcard>
        </div>
        <div class="history_box box">
            <h6 class='dis'>历史数据变更</h6>
            <historycard v-for="record in this.person.records" v-bind:record="record"></historycard> <!-------->
        </div>
        <div class="end" id =<%=name%>></div>
        <div class = "left" >
            <controlbox v-if=ismanager v-on:changeadd="changeAdd"></controlbox>
            <logbutton v-if=!ismanager v-on:changetomanager="changetomanager"></logbutton>
        </div>
        <div class="addnew" v-if=isaddtip||isaddproject||isaddchangescore>
            <addtip v-if=isaddtip v-on:closethis="closeThis" v-on:addtip="addTip"></addtip>
            <addproject v-if=isaddproject v-on:closethis="closeThis" v-on:addproject="addProject"></addproject>
            <addchangescore v-if=isaddchangescore v-on:closethis="closeThis" v-on:addscore="addScore"></addchangescore>
        </div>
    </div>

</body>
<script src='../javascripts/person.js'></script>
<script src='../javascripts/vperson.js'></script>
</html>